body {
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: lightgrey;
  padding: 2px 4px;
  border-radius: 4px;
}
